<div class="flex flex--justify-center">
  <div class="section-panel section-panel--theme" style="max-width: 560px">
    <div class="section-panel__inner">
      <div class='text-center'>
        <h2 style="margin-bottom: 20px">Profile</h2>

        <%= form_with(model: employee_profile, local: true) do |form| %>
          <% if employee_profile.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(employee_profile.errors.count, "error") %> prohibited this employee_profile from being saved:</h2>

              <ul>
                <% employee_profile.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class= 'form-row justify-content-center'>
            <div class="form-group">
              <%= form.label :profession_id, class: 'form__label' %><br />
              <%= form.collection_select :profession_id, Profession.all, :id, :name, {prompt: "Choose a profession" } %>
            </div>
          </div>
        
          <div class= 'form-row justify-content-center'>
            <div class="form-group">
              <%= form.label "Profile Picture", class: 'form__label' %><br />
              <%= form.file_field :avatar %>
            </div>
          </div>
        
          <div class= 'form-row justify-content-center'>
            <div class="form-group">
              <%= form.label :first_name, class: 'form__label' %><br />
              <%= form.text_field :first_name %>
            </div>
          </div>
        
          <div class='form-row justify-content-center'>
            <div class="form-group">
              <%= form.label :last_name, class: 'form__label' %><br />
              <%= form.text_field :last_name %>
            </div>
          </div>
        
          <div class= 'form-row justify-content-center'>
            <div class="form-group">
              <%= form.label :bio, class: 'form__label' %><br />
              <%= form.text_area :bio %>
            </div>
          </div>
        
          <div class= 'form-row justify-content-center'>
            <div class="form-group">
              <%= form.label :date_of_birth, class: 'form__label' %><br />
              <%= form.text_field :date_of_birth %>
            </div>
          </div>
        
          <div class="flex flex--gutters">
            <div class="col-mc-1-1">
                <%= form.submit class: 'button button--secondary' %>
            </div>
            <div class="col-mc-1-1">
                <%= link_to 'Back', @employee_profile, class: 'button button--tertiary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div> 
</div>
