<p id="notice"><%= notice %></p>

<p>
  <% if @employee_profile.avatar.attached? %>
    <%= image_tag(@employee_profile.avatar, :class => "style_image")  %>
  <% else %>
    <%= image_tag('default.jpg', :class => "style_image") %>
  <% end %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @employee_profile.profession.name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @employee_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee_profile.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @employee_profile.date_of_birth %>
</p>

<%= link_to 'Edit', edit_employee_profile_path(@employee_profile) %> |
<%= link_to 'Back', root_path %>
