<div class="flex flex--justify-center">
    <div class="section-panel section-panel--theme" style="min-width: 320px; max-width: 560px">
      <div class="section-panel__inner">
        <div class='text-center'>
          <div style="margin-bottom: 20px">
            <% if @employee_profile.avatar.attached? %>
              <%= image_tag(@employee_profile.avatar, :class => "style_image")  %>
            <% else %>
              <%= image_tag('default.jpg', :class => "style_image") %>
            <% end %>
          </div>

          <p class="text-white">
            <strong>Profession:</strong><br>
            <%= @employee_profile.profession.name %>
          </p>

          <p class="text-white">
            <strong>First name:</strong><br>
            <%= @employee_profile.first_name %>
          </p>

          <p class="text-white">
            <strong>Last name:</strong><br>
            <%= @employee_profile.last_name %>
          </p>

          <div class="text-white">
            <p>Bio:</p>
            <%= simple_format(@employee_profile.bio) %>
          </div>

          <p class="text-white">
            <strong>Date of birth:</strong><br>
            <%= @employee_profile.date_of_birth.presence || "Not Specified" %>
          </p>
 
          <div class="flex flex--gutters">
              <% if current_employee %>
              <div class="col-mc-1-1">
                <%= link_to 'Edit', edit_employee_profile_path(@employee_profile), class: 'button button--tertiary' %>
              </div>
              <div class="col-mc-1-1">
                <%= link_to 'Back', root_path, class: 'button button--tertiary' %>
              </div>
              <% end %>
          </div>
          
        </div>
      </div>
    </div>  
  </div>  
</div>

<!-- <br>
<h2>Your Past Applications</h2>
<section>
  <% if current_employee %>
    <% @current_employee.job_applications.order("created_at DESC").each do |post|%>
      <div class="section-panel__history">
        <div class="section-panel__history_inner">
          <div class="flex flex--align-items flex--justify-between">
            <h2>
              <%= post.job_posting.title %>
            </h2>
            <div>
              <span class="chip"><%= post.job_posting.profession.name %></span>
            </div>
          </div>
          <%= post.job_posting.employer.employer_profile.business_name %>
          <hr>
          <%= post.job_posting.start_time.strftime("%d %b %Y") %>
        </div>
      </div>
    <% end %>
  <% end %> -->
</section>
