<p id="notice"><%= notice %></p>

<h2>Profile</h2>
<section class="card-container__profile">
  <article class="card">
    <div class="card__header">
      <div class="card__body">
        <% if @employee_profile.avatar.attached? %>
          <%= image_tag(@employee_profile.avatar, :class => "card__image__profile")  %>
        <% else %>
          <%= image_tag('default.jpg', :class => "card__image__profile") %>
        <% end %>
      </div>
      <div class="card__body__profile">
        <h5 class="card__title">Profession:</h5>
        <p class="card__content">
          <%=  @employee_profile.profession.name %>
        </p>
        <h5 class="card__title">Name:</h5>
        <p class="card__content">
          <%= @employee_profile.full_name %>
        </p>
        <h5 class="card__title">Date of birth:</h5>
        <p class="card__content">
          <%= @employee_profile.date_of_birth %>
        </p>
      </div>
    </div>
      <div class="card__body">
      <h5 class="card__title">Bio:</h5>
        <p class="card__content">
          <%= truncate(@employee_profile.bio, length: 1500) %>
        </p>
      </div>
    <footer class="card__footer">
      <% if current_employee %>
        <%= link_to 'Edit', edit_employee_profile_path(@employee_profile) %>
        <span class="vertical-divider"></span>
        <%= link_to 'Back', root_path %>
      <% end %>
    </footer>
    </div>
  </article>
</section>
<br>
<h2>Your Past Applications</h2>
<section>
  <% if current_employee %>
  <% @current_employee.job_applications.order("created_at DESC").each do |post|%>
  <div class="section-panel__history">
    <div class="section-panel__history_inner">
      <div class="flex flex--align-items flex--justify-between">
        <h2>
          <%= post.job_posting.title %>
        </h2>
        <div>
          <span class="chip"><%= post.job_posting.profession.name %></span>
        </div>
      </div>
      <%= post.job_posting.employer.employer_profile.business_name %>
      <hr>
      <%= post.job_posting.start_time.strftime("%d %b %Y") %>
    </div>
  </div>
  <% end %>
  <% end %>
</section>