<% if employer_signed_in? %>
    <%= render 'layouts/navbar/employer'%>
<% elsif employee_signed_in? %>
    <%= render 'layouts/navbar/employee'%>
<% else %>
    <%= render 'layouts/navbar/main_nav'%>
<% end %>

<strong>Job Application Page</strong>

<p>List of Applications</p>


<% if employer_signed_in? %>
    <%= render 'layouts/job_applications/employer'%>
<% else employee_signed_in? %>
    <%= render 'layouts/job_applications/employee'%>
<% end %>


