<%= form_with(model: skill, local: true) do |form| %>
  <% if skill.errors.present? %>
    <% skill.errors.full_messages.each do |error| %>
      <p><%= error %></p> 
    <% end %>
  <% end %>


  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit :Submit %>
  </div>