<% if current_employer %>
    <% @current_employer.job_postings.each do |post|%>
      <div class='container'>
        <%= 'Opening for '%>
        <strong> <%= link_to post.title, post %> </strong>
        <%= 'at '%>
        <strong> <%= post.employer.employer_profile.business_name %> </strong>
        <%= 'starting at: '%>
        <%= post.start_time.strftime("%d %b %Y at %H:%m") %>
      </div>
    <% end %>
  <% end %>
