<section>
  <article class="card">
    <div>
      <%= form_with(model: @job_posting, local: true) do |form| %>
        <% if @job_posting.errors.present? %>
          <% @job_posting.errors.full_messages.each do |error| %>
            <p><%= error %></p> 
          <% end %>
        <% end %>
          </ul>
        </div>
        
      <div class="card__body">
      <h3 class= 'form-row justify-content-center text-center'>New Job Posting</h3>
      </div>

      <div class="card__body">
      <h5 class="card__title">Title:</h5>
        <%= form.text_field :title, class: 'form-control' %>
    </div>


      <div class="card__body">
      <h5 class="card__title">Hourly Rate:</h5>
          <%= form.number_field :hourly_rate, step: :any, class: 'form-control', placeholder: '£ 0.00' %>
      </div>

      <div class="card__body">
        <h5 class="card__title">Content:</h5>
        <p class="card__content">
            <%= form.text_area :content, class: 'form-control' %>
        </p>
      </div>

        <div class="card__body">
          <div class="form in-line mx-auto">
            <h5 class="card__title__job_post">Start Time:</h5>
            <h5 class="card__title__job_post">End Time:</h5>
          </div>
        </div>

      <div class="card__body__job_post">
        <div class="row">
          <div class="col-md-4">
            <p class="card__content">
                <%= form.text_field :start_time, class: 'form-control datepicker' %>
            </p>
          </div>
   
          <div class="col-md-4">
              <p class="card__content">
                <%= form.text_field :end_time, class: 'form-control datepicker' %>
              </p>
          </div>
      </div>
      </div>
      <%# </div> %>

      <%# <div class= 'form-row justify-content-center text-center'>
      
      </div> %>

      <div class="card__body">
        <h5 class="card__title">Profession:</h5>
        <p class="card__content">
          <%= form.collection_select :profession_id, Profession.all, :id, :name, {prompt: "Choose a profession" }, class: 'form-control' %>
        </p>
      </div>


  <footer class="card__footer">
  <%= form.submit "Submit", class: 'btn btn-primary' %>
      <span class="vertical-divider"></span>
  <%= link_to 'Back', @employee_profile, class: 'btn btn-primary' %>
  </footer>


      <% end %>
