<section>
  <article class="card">
    <div>
      <%= form_with(model: @job_posting, local: true) do |form| %>
        <% if @job_posting.errors.present? %>
          <% @job_posting.errors.full_messages.each do |error| %>
            <p><%= error %></p> 
          <% end %>
        <% end %>
          </ul>
        </div>
        
      <div class='jumbotron'>
        Job Post
      </div>

      <div class="card__body">
      <h5 class="card__title">Title:</h5>
        <%= form.text_field :title, class: 'form-control' %>
    </div>


      <div class="card__body">
      <h5 class="card__title">Hourly Rate:</h5>
          <%= form.number_field :hourly_rate, step: :any, class: 'form-control', placeholder: '£ 0.00' %>
      </div>

      <div class="card__body">
        <h5 class="card__title">Content:</h5>
        <p class="card__content">
            <%= form.text_area :content, class: 'form-control' %>
        </p>
      </div>

      <div class="card__body">
        <h5 class="card__title">Start Time:</h5>
        <p class="card__content">
            <%= form.text_field :start_time, class: 'datepicker' %>
        </p>
      </div>

      <div class="card__body">
        <h5 class="card__title">Start Time:</h5>
        <p class="card__content">
          <%= form.text_field :end_time, class: 'datepicker' %>
        </p>
      </div>

      <div class= 'form-row justify-content-center text-center'>
      
      </div>
        <br>

      <div class= 'form-row justify-content-center text-center'>
        <div class= 'form-group col-md-3'>
          <%= form.collection_select :profession_id, Profession.all, :id, :name, {prompt: "Choose a profession" }, class: 'form-control' %>
        </div>
      </div>

      <div class= 'form-row justify-content-center text-center'>
        <div class='form-group'>
          <%= form.submit :Submit, class: 'btn btn-primary' %>
        </div>
      </div>

      <% end %>
