<div class="section-panel section-panel--theme">
  <div class="section-panel__inner">
    <div class="flex flex--align-items flex--justify-between">
      <h3 style="font-size: 2.75rem"><%= link_to "#{job.title} @ #{job.employer.employer_profile.business_name}", job, class: 'text-white' %></h3>
      <div style="background: white; padding: 5px 15px 5px 30px;border-radius: 30px;">
        <% if job.profession.name == 'Chef' %>
          <%= link_to image_tag('kitchen_rgb', height: 40, alt: "Brand"), root_path, class: 'navbar-brand' %>
        <% elsif job.profession.name == 'Catering Manager' %>
          <%= link_to image_tag('catering_rgb', height: 40, alt: "Brand"), root_path, class: 'navbar-brand' %>
        <% elsif job.profession.name == 'Bar Tender' %>
          <%= link_to image_tag('bar_rgb', height: 40, alt: "Brand"), root_path, class: 'navbar-brand' %>
        <% end %>
      </div>
    </div>
    <hr class="horizontal-divider">
    <div class="text-white"><%= simple_format(job.content) %></div>
    <hr class="horizontal-divider">
    <div class="flex flex--gutters">
      <div class="text-white"><strong>Start: </strong><%= job.start_time.strftime("%d %b %Y at %H:%m") %></div>
      <div><span class="vertical-divider"></span></div>
      <div class="text-white"><strong>End: </strong><%= job.end_time.strftime("%d %b %Y at %H:%m")%></div>
      <div><span class="vertical-divider"></span></div>
      <div class="text-white"><strong>Hourly Rate: </strong><%= job.hourly_rate %></div>
    </div>  
  </div>
</div>