<% if current_employee %>
  <% current_employee.employee_profile.profession.job_postings.each do |job| %>
  <%# <% if job.start_time > Time.current%>
  <div class="section-panel">
    <div class="section-panel__inner">
      <div class="flex flex--align-items flex--justify-between">
        <h5><%= link_to job.title, job %></h5>
        <div>
          <span class="chip"> <%= job.profession.name %></span>
        </div>
      </div>
      <p>
        <%= job.employer.employer_profile.business_name %>
      </p>
      <hr>
      <h5>Content</h5>
      <div>
        <%= job.content %>
      </div>
      <hr>
      <div class="flex flex--gutters">
        <div>
          <span><strong>Start: </strong><%= job.start_time.strftime("%d %b %Y at %H:%m") %></span>
        </div>
        <div>
          <span class="vertical-divider"></span>
        </div>
        <div>
          <span><strong>End: </strong><%= job.end_time.strftime("%d %b %Y at %H:%m")%></span>
        </div>
        <div>
          <span class="vertical-divider"></span>
        </div>
        <div>
          <span><strong>Hourly Rate: </strong><%= job.hourly_rate %></span>
        </div>
      </div>  
      <hr>
    </div>
  </div>
  <br>
  <%# <% end %>
  <% end %>
<% else %>
  <% @job_postings.each do |job| %>
  <%# <% if job.start_time > Time.current %> 
    <div class="section-panel">
      <div class="section-panel__inner">
        <div class="flex flex--align-items flex--justify-between">
          <h5><%= link_to job.title, job %></h5>
          <div>
            <span class="chip"><%= job.profession.name %></span>
          </div>
        </div>
          <p>
          <%= job.employer.employer_profile.business_name %>
          </p>
        <hr>
        <h5>Content</h5>
        <div>
          <%= job.content %>
        </div>
        <hr>
        <div class="flex flex--gutters">
          <div>
            <span><strong>Start: </strong><%= job.start_time.strftime("%d %b %Y at %H:%m") %></span>
          </div>
          <div>
            <span class="vertical-divider"></span>
          </div>
          <div>
            <span><strong>End: </strong><%= job.end_time.strftime("%d %b %Y at %H:%m")%></span>
          </div>
          <div>
            <span class="vertical-divider"></span>
          </div>
          <div>
            <span><strong>Hourly Rate: </strong><%= job.hourly_rate %></span>
          </div>
        </div>  
      </div>
    </div>
    <br>
  <%# <% end %>
  <% end %>
<% end %>
