<% if current_employee %>
  <% current_employee.employee_profile.profession.job_postings.each do |job| %>
    <%# <% if job.start_time > Time.current %>
      <div class='container'>
        <%= link_to job.title, job %>
        <%= job.employer.employer_profile.business_name %>
        <%= job.job_application_ids %>
      </div>
    <%# <% end %>
<% end %>
<% else %>
  <% @job_postings.each do |job| %>
    <div class='container'>
      <%= link_to job.title, job %>
      <%= job.employer.employer_profile.business_name %>
    </div>
  <% end %>
<% end %>