<% if employer_signed_in? %>
    <%= render 'layouts/navbar/employer'%>
<% elsif employee_signed_in? %>
    <%= render 'layouts/navbar/employee'%>
<% else %>
    <%= render 'layouts/navbar/main_nav'%>
<% end %>
<br>
<% if current_employee %>
  <% current_employee.employee_profile.profession.job_postings.each do |job| %>
  <div class='container'>
    <%= link_to job.title, job %>
    <%= job.employer.employer_profile.business_name %>
  </div>
  <% end %>
<% else %>
  <% @job_postings.each do |job| %>
    <div class='container'>
      <%= link_to job.title, job %>
      <%= job.employer.employer_profile.business_name %>
    </div>
  <% end %>
<% end %>

