<p>
  <strong>Profession:</strong>
  <%= @job_posting.profession_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job_posting.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @job_posting.content %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @job_posting.start_time %>
  <br>
  <strong>End Time:</strong>
  <%= @job_posting.end_time %>
</p>

<p>
  <strong>Hourly Rate:</strong>
  <%= @job_posting.hourly_rate %>
</p>

<p>
  <%= form_with(model: JobApplication.new, url: job_posting_job_applications_path(@job_posting), local: true) do |form| %>
    <%= form.submit 'Apply', data: {confirm: 'Please confirm your application by clicking OK:'} %>
  <% end %>
</p>