<p>
  <strong>Profession:</strong>
  <%= @job_posting.profession.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job_posting.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @job_posting.content %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @job_posting.start_time.strftime("%d %b %Y at %H:%m") %>
  <br>
  <strong>End Time:</strong>
  <%= @job_posting.end_time.strftime("%d %b %Y at %H:%m")%>
</p>

<p>
  <strong>Hourly Rate:</strong>
  <%= @job_posting.hourly_rate %>
</p>

<p>
<% if current_employee %>
  <%= form_with(model: JobApplication.new, url: job_posting_job_applications_path(@job_posting), local: true) do |form| %>
    <%= form.submit 'Apply', data: {confirm: 'Please confirm your application by clicking OK:'} %>
  <% end %> 
<% end %>
</p>