<div class="section-panel">
  <div class="section-panel__inner">
    <div class="flex flex--align-items flex--justify-between">
        <h2>
          <%= @job_posting.title %>
        </h2>
        <div>
          <span class="chip"><%= @job_posting.profession.name %></span>
        </div>
      </div>
        <p>
        <% if current_employee %>
          <%= @job_posting.employer.employer_profile.business_name %>
        <% end %>
        </p>
      <hr>
      <h5>Content</h5>
      <p>
        <%= @job_posting.content %>
      </p>
      <hr>
      <div class="flex flex--gutters">
        <div>
          <span><strong>Start: </strong><%= @job_posting.start_time.strftime("%d %b %Y at %H:%m") %></span>
        </div>
        <div>
          <span class="vertical-divider"></span>
        </div>
        <div>
          <span><strong>End: </strong><%= @job_posting.end_time.strftime("%d %b %Y at %H:%m")%></span>
        </div>
        <div>
          <span class="vertical-divider"></span>
        </div>
        <div>
          <span><strong>Hourly Rate: </strong><%= @job_posting.hourly_rate %></span>
        </div>
      </div>  
      <hr>
    
      <div>
        <% if current_employer %>
          <%= link_to 'Delete', [@job_posting], method: :delete, data: { confirm: 'Are you sure you want to delete this job posting?' }, class: 'button button--danger' %>
        <% end %>
      </div>
    
      <div>
        <% if current_employee %>
          <%= form_with(model: JobApplication.new, url: job_posting_job_applications_path(@job_posting), local: true) do |form| %>
            <%= form.submit 'Apply', data: { confirm: 'Please confirm your application by clicking OK:' }, class: 'button button--success' %>
          <% end %> 
        <% end %>
      </div>
  </div>
</div>

<% if current_employer %>
  <br>
  <h1 class="subheading">Applicants</h1>

  <div class="flex flex--gutters-2x">
    <% @job_posting.job_applications.each do |job_application| %>
      <%= render 'applicant', application: job_application %>
    <% end %>
  </div>
  
<% end %>