<div class= 'form-row justify-content-center text-center'>
  <div class='form-group col-md-2'>
    <strong>Profession:</strong><br>
    <%= @job_posting.profession.name %>
  </div>
</div>

<div class= 'form-row justify-content-center text-center'>
  <div class='form-group col-md-2'>
    <strong>Title:</strong><br>
    <%= @job_posting.title %>
  </div>
</div>

<div class= 'form-row justify-content-center text-center'>
  <div class='form-group col-md-2'>
    <strong>Content:</strong><br>
    <%= @job_posting.content %>
  </div>
</div>

<div class= 'form-row justify-content-center text-center'>
  <div class='form-group col-md-2'>
      <strong>Start Time:</strong>
      <%= @job_posting.start_time.strftime("%d %b %Y at %H:%m") %>
      <br>
      <strong>End Time:</strong>
      <%= @job_posting.end_time.strftime("%d %b %Y at %H:%m")%>
  </div>
</div>

<div class= 'form-row justify-content-center text-center'>
  <div class='form-group col-md-2'>
    <strong>Hourly Rate:</strong><br>
    <%= @job_posting.hourly_rate %>
  </div>
</div>

<div class= 'form-row justify-content-center text-center'>
  <div class='form-group col-md-2'>
    <% if current_employer %>
          <strong> Pending Applications: </strong> <br>
          <% @job_posting.job_applications.each do |job_application| %>
          <%= link_to job_application.employee.employee_profile.full_name, job_posting_job_application_path(@job_posting, job_application) %> <br>
          <% end %>
    <% end %>
    </div>
  </div>

<div class= 'form-row justify-content-center text-center'>
  <div class='form-group col-md-2'>
    <% if current_employer %>
      <%= link_to 'Delete',[@job_posting], method: :delete %>
    <% end %>
  </div>
</div>

<div class= 'form-row justify-content-center text-center'>
  <div class='form-group col-md-2'>
    <% if current_employee %>
      <%= form_with(model: JobApplication.new, url: job_posting_job_applications_path(@job_posting), local: true) do |form| %>
        <%= form.submit 'Apply', data: {confirm: 'Please confirm your application by clicking OK:'} %>
      <% end %> 
    <% end %>
  </div>
</div>