<p>
  <strong>Profession:</strong>
  <%= @job_posting.profession.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job_posting.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @job_posting.content %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @job_posting.start_time.strftime("%d %b %Y at %H:%m") %>
  <br>
  <strong>End Time:</strong>
  <%= @job_posting.end_time.strftime("%d %b %Y at %H:%m")%>
</p>

<p>
  <strong>Hourly Rate:</strong>
  <%= @job_posting.hourly_rate %>
</p>

<p> <%# section missing code to link employee names to respective profiles %>
<% if current_employer %>
  <strong> Pending Applications: </strong> <br>
  
  <ul id="slides"> 
   <% @job_posting.job_applications.each do |job_application| %>
   <div class="slide showing" data-id="<%= job_application.employee.employee_profile.id  %>">
     <li><%= link_to job_application.employee.employee_profile.full_name, employee_profile_path(job_application.employee.employee_profile) %></li>
   </div>
   <% end %>
 </ul>

 <button class="controls" id="previous">Previous</button>
 <button class="controls" id="next">Next</button>

<% end %>
</p>

<% if current_employer %>
  <%= link_to 'Delete',[@job_posting], method: :delete %>
<% end %>

<p>
<% if current_employee %>
  <%= form_with(model: JobApplication.new, url: job_posting_job_applications_path(@job_posting), local: true) do |form| %>
    <%= form.submit 'Apply', data: {confirm: 'Please confirm your application by clicking OK:'} %>
  <% end %> 
<% end %>
</p>




