<div class="flex flex--justify-center">
  <div class="section-panel section-panel--theme" style="max-width: 560px">
    <div class="section-panel__inner">
      <div class='text-center'>
        <h2 style="margin-bottom: 20px">Profile</h2>

        <%= form_with(model: employer_profile, local: true) do |form| %>
          <% if employer_profile.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(employer_profile.errors.count, "error") %> prohibited this employer_profile from being saved:</h2>

              <ul>
                <% employer_profile.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

        <div class= 'form-row justify-content-center text-center'>
          <div class="form-group">
            <%= form.label :first_name, class: 'form__label' %>
            <%= form.text_field :first_name, class: 'form-control' %>
          </div>
        </div>

        <div class= 'form-row justify-content-center text-center'>
          <div class="form-group">
            <%= form.label :last_name, class: 'form__label' %>
            <%= form.text_field :last_name, class: 'form-control' %>
          </div>
        </div>

        <div class= 'form-row justify-content-center text-center'>
          <div class="form-group">
            <%= form.label :business_name, class: 'form__label' %>
            <%= form.text_field :business_name, class: 'form-control' %>
          </div>
        </div>

        <div class= 'form-row justify-content-center text-center'>
          <div class="form-group">
            <%= form.label "Business Picture", class: 'form__label' %>
            <%= form.file_field :avatar, class: 'form-control-file' %>
          </div>
        </div>

        <div class= 'form-row justify-content-center text-center'>
          <div class="form-group">
            <%= form.submit :Submit, class: 'button button--secondary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

