<p id="notice"><%= notice %></p>

<p>
  <% if @employer_profile.avatar.attached? %>
    <%= image_tag(@employer_profile.avatar, :class => "style_image")  %>
  <% else %>
    <%= image_tag('default.jpg', :class => "style_image") %>
  <% end %>
</p>

<p>
  <strong>First name:</strong>
  <%= @employer_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employer_profile.last_name %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @employer_profile.business_name %>
</p>

<%= link_to 'Edit', edit_employer_profile_path(@employer_profile) %> |
<%= link_to 'Back', root_path %>
